<!DECTYPE html>
  <html>

  <head>
    <meta charset="UTF-8">
    <title>AboutProject｜DODEKAMIN TREE Project</title>
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="../static/images/favicon-2.ico" rel="icon">
  </head>

  <body id="about">
    <div id="wrap3">
      <header>
        <div class="logo">
          <a href="/"><img src="../static/images/project.png" alt="DODEKAMINTREE"></a>
        </div>
        <nav>
          <ul class="global-nav">
            <li><a href="/about">AboutProject</a></li>
            <li><a href="/tree">Tree</a></li>
            <li><a href="/waitinglist">WaitingList</a></li>
          </ul>
        </nav>
      </header>

      <div id="wrap">
        <div class="content">
        </div>
      </div>

      <footer>
        <small>(C)2019 DODEKAMIN.</small>
      </footer>
    </div>
  </body>

  </html>