<html>
<head>
<meta charset="UTF-8">
 <script type="text/javascript">
  var color;
  var canPaint=!canPaint;
 </script>
 <style>
  span {cursor:pointer;}
 </style>
 <title>DODEKAMIN TREE PROJECT</title>
 <link rel="stylesheet" href="main.css">  
</head>
  
<body id="index">
  
  <header>
  <a href="index.html"><img src=images/logo-white.png alt="TREE">
  <footer></footer></a>
  </header>
  
  <p>DODEKAMIN TREE PROJECTって何？<br><br>DODEKAMIN TREE PROJECTは北の大地の大学生4人が考えた<br>クリスマスを楽しくするプロジェクト。ただのクリスマスツリー<br>見ても面白くなくない？wowwwow————————インスタ映<br>えするツリーを作って記念撮影してもよし、えっちなツリーを作<br>ってもよし、変なツリーを作ってもよし、楽しみ方は無限大！！</p>
  
  <p class="btn"><a href="tree.html">さっそくツリーを作る ＞</a></p>
  
  
  
  </body>
</html>
