<!DECTYPE html>
  <html>

  <head>
    <meta charset="UTF-8">
    <title>Home｜DODEKAMIN TREE Project</title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/images/favicon-2.ico" rel="icon">
  </head>

  <body id="index">
    <div class="bg">
      <header>
        <div class="logo">
          <a href="/"><img src="../static/images/logo.png" alt="DODEKAMINTREE"></a>
        </div>
        <nav>
          <ul class="global-nav">
            <li><a href="/" class="now">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/tree">Tree</a></li>
            <li><a href="/waitinglist">Waiting List</a></li>
          </ul>
        </nav>
      </header>

      <div id="wrap">
        <div class="content">
          <h1>北広島×Tech</h1>
    <p>クリスマスツリーを自分の好きなように光らせたい！<br>
      　という思いから始まったプロジェクトです。<br>
        自分で作ったデザインを送信すると、ツリーが光ります。<br>
        ツリーをキャンバスにして自分だけのツリーを作ろう！
    </p>
          <p class="btn"><a href="/tree">さっそくツリーを作る</a></p>
        </div>
      </div>
    </div>
    <script src="../static/js/snowstorm.js"></script>
  </body>
  <footer>
    <small>(C)2019 DODEKAMIN.</small>
  </footer>

  </html>