<html>
<head>
<meta charset="UTF-8">
 <script type="text/javascript">
  var color;
  var canPaint=!canPaint;
 </script>
 <style>
  span {cursor:pointer;}
 </style>
 <title>DODEKAMIN TREE</title>
 <link rel="stylesheet" href="main.css">  
</head>
  
<body id="maker">
  
  <header>
  <a href="index.html"><img src=images/logo-green.png alt="TREE">
  <footer></footer></a>
  </header>
  
  <p>ツリーの点を押して色を塗ってね！</p>
  
<div id="colorSelect">
    <span style="color:red" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:orange" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:yellow" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:green" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:blue" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:pink" onClick="color=this.style.color;canPaint=false;">●</span>
    <span style="color:white" onClick="color=this.style.color;canPaint=false;">●</span><br>
  </div>
  
  
  <div id="tree">
  <ul>
<li class="light1">
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light2"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light3"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light4"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light5"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light6"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light7"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light8"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light9"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light10"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light11"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light12"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<li class="light13"><span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" 
onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span></li><br>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
<span style="color:white" onMouseOver="if(canPaint)this.style.color=color;" onClick="this.style.color=color;canPaint=!canPaint;">●</span>
</ul>
    </div>
  
  
  
  <script type="text/javascript">
    
  </script>
  
  
  <p class="btn submit">完成！</p>
</body>
</html>


　
